<config>
  <property name="default_library">mmsl_config/Default_Library.xml</property>
  <property name="default_config">mmsl_config/Default_Config.xml</property>
  <property name="default_meta">mmsl_config/meta/Default_Meta.xml</property>
  <property name="unlocalised">0</property>
  <property name="explorer_workspace">E:\hax\todds_modds\workspace</property>
  <property name="current_library">E:\hax\todds_modds\meteor/mmsl_config/Library.xml</property>
  <property name="datafolder">data(eu_en)</property>
  <property name="logging">1</property>
  <property name="dev">1</property>
</config>